body {
width: 90%;
margin-left: auto;
margin-right: auto;
}  

#header {
background-color:Green;
text-align:center;
padding:20px;
}

#nav {
background-color:Grey;
padding:5px;
}

#article {
background-color:Red;
padding:5px;

}

#footer {
background-color: Yellow;
text-align:center;
padding:10px;
}
