body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 12px;
  color: green;
}

.div {
  border-style: dotted;
  margin: 2px;
  border: 100px;
}

ol {
  list-style-type: lower-alpha;
}

ul {
  list-style-type: square;
}

