body {
  background-color: rgb(250,242,40);
  color: black;
}

h1 {
  font-size: 20px;
  border-style: dotted;
  border-radius: 15px;
}

h2 {
  font-size: 20px;
  border-style: dotted;
  border-radius: 15px;
  margin: 100px;
  padding: 200px;

p {
  font-size: 12px;
  background-color: rgb(25,255,71);
  color: black;
}

.div {
  border-style: dotted;
  margin: 2px;
  border: 100px;
}

ol {
  list-style-type: lower-alpha;
}

ul {
  list-style-type: square;
}

