* {
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  color: White;
	
}

h2 {
  font-size: 30px;
  margin: 10px;
  padding: 20px;
}

h3 {
  font-size: 30px;
  margin: 10px;
  padding: 10px;
}

p {
  font-size: 20px;
  color:Black;
  margin:10px;
  padding:50px 20px;
}

nav {
  float: left;
  width: 30%;
  height: 742px;
  background: #ccc;
  padding: 20px;

}

nav ul {
  list-style-type: round;
  padding: 0;
}

header {
  background-color: #300;
  padding: 40px;
  text-align: center;
  font-size: 40px;
  color: black;
  }

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #255;
}

section:after {
  clear: both;
}

a:hover {
  color: red;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

#horizontallist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

.centerlist {
  float: left;
  padding:10px;
  text-align: center;
}
